.left-first {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.logo img {
    width: 60px;
    height: auto;
    display: flex;
    flex-shrink: 0;
    padding-bottom: 50px;
}

.right-first {
    display: flex;
    flex-direction: column;
}

.header-links {
    display: flex;
    font-size: 18px;
    justify-content: center;
    color: rgba(255, 255, 255, 0.801);
    padding-bottom: 100px;
    padding-top: 50px;
    padding-left: 200px;
}

a {
    padding-left: 50px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.right-top img {
    height: 300px;
}

.first {
    display: flex;
    background-color: #1f2937;
    padding: 30px 200px 100px 200px;
}

.website {
    color: white;
    font-size: 48px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.website-description {
    display: flex;
    color: rgba(255, 255, 255, 0.801);
    font-size: 18px;
}

.left-top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 50px;
}

.right-top {
    padding: 50px 0 0 50px;
}

.sign-up button {
    background-color: #3882f6;
    margin: 0;
    border: none;
    color: white;
    text-align: center;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
}

.second {
    display: flex;
    flex-direction: column;
}

.information-title{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    padding-top: 50px;
}

.info-boxes img {
    width: 250px;
    margin-right: 30px;
    border: 5px solid #1f2937;
}

.info-boxes {
    display: flex;
    padding: 50px 170px 100px 170px;
}

.third {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 100px;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.quote p {
    margin: 0;
}

.author {
    display: flex;
    align-self: flex-end;
    
}




